@media all and (max-width: 768px) {
    


}

@media only screen and (max-width: 600px) {

        
.background-area.large {
    
    /* background-color: #333; */
    background: url(../images/bg/mobile-main.JPG);
    height: 800px;
    }
   
}
.ftr{
    background: url(../images/bg/footer.jpg);
    height: 800px;
}